# Saving Cleaned Cryptocurrency Data into MySQL Database

This notebook demonstrates how to take the cleaned cryptocurrency dataset (`historical_crypto_sundays.csv`) and store it into a MySQL database for further analysis and dashboarding.

---

## 1 Import Required Libraries

We first import **pandas** for data handling and **SQLAlchemy** for database connectivity.

In [1]:
from sqlalchemy import create_engine
import pandas as pd

## 2 Load the Cleaned CSV Data

We read the pre-processed CSV file containing historical cryptocurrency data.

In [2]:
# Load your cleaned CSV
df = pd.read_csv('historical_crypto_sundays.csv')
df

,Date,Name,Symbol,Market Cap,Price,Circulating Supply,Volume (24hr),% 1h,% 24h,% 7d
0,2013-04-28,Bitcoin,BTC,1.488567e+09,134.2100,1.109132e+07,2.073296e+08,0.640,0.00,0.00
1,2013-04-28,Litecoin,LTC,7.463702e+07,4.3484,1.716423e+07,2.086202e+08,0.800,0.00,0.00
2,2013-04-28,Peercoin,PPC,7.250187e+06,0.3865,1.875736e+07,5.939582e+06,0.005,0.00,0.00
3,2013-04-28,Namecoin,NMC,5.995997e+06,1.1072,5.415300e+06,5.939582e+06,0.005,0.00,0.00
4,2013-04-28,Terracoin,TRC,1.503099e+06,0.6469,2.323570e+06,9.445917e+07,0.610,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...
6582,2025-12-07,USDC,USDC,7.819836e+10,1.0001,7.819282e+10,7.817627e+09,0.005,0.01,0.03
6583,2025-12-07,Solana,SOL,7.405583e+10,132.0900,5.606316e+08,3.824892e+09,0.630,-0.19,-1.10
6584,2025-12-07,TRON,TRX,2.716379e+10,0.2869,9.468153e+10,5.239062e+08,0.210,-0.18,1.85
6585,2025-12-07,Dogecoin,DOGE,2.239516e+10,0.1386,1.616087e+11,1.065449e+09,0.510,-0.83,-5.52
6586,2025-12-07,Cardano,ADA,1.496466e+10,0.4168,3.590271e+10,6.091582e+08,0.270,0.70,0.22


**Explanation:**  
- This CSV contains all cleaned and transformed columns (`Date`, `Name`, `Symbol`, `Market Cap`, `Price`, `Circulating Supply`, `Volume (24hr)`, `% 1h`, `% 24h`, `% 7d`).  
- `df` now holds the complete dataset ready to be stored in the database.

---

## 3 Connect to MySQL Database

We create a connection to MySQL using SQLAlchemy.

In [3]:
# MySQL connection
engine = create_engine('mysql+mysqlconnector://root:root@localhost:3306/crypto_data_db')

In [4]:
# Save DataFrame as table
df.to_sql(name='crypto_history', con=engine, if_exists='replace', index=False)

print("Data saved successfully to MySQL!")

Data saved successfully to MySQL!

In [5]:
import pandas as pd

# Read data back from MySQL
query = "SELECT * FROM crypto_history LIMIT 5;"
df_check = pd.read_sql(query, con=engine)
print(df_check)

         Date       Name Symbol    Market Cap     Price  Circulating Supply  \
0  2013-04-28    Bitcoin    BTC  1.488567e+09  134.2100          11091325.0
1  2013-04-28   Litecoin    LTC  7.463702e+07    4.3484          17164230.0
2  2013-04-28   Peercoin    PPC  7.250187e+06    0.3865          18757362.0
3  2013-04-28   Namecoin    NMC  5.995997e+06    1.1072           5415300.0
4  2013-04-28  Terracoin    TRC  1.503099e+06    0.6469           2323570.0

   Volume (24hr)   % 1h  % 24h  % 7d
0   2.073296e+08  0.640    0.0   0.0
1   2.086202e+08  0.800    0.0   0.0
2   5.939582e+06  0.005    0.0   0.0
3   5.939582e+06  0.005    0.0   0.0
4   9.445917e+07  0.610    0.0   0.0


**Explanation:**  
- Fetching 5 rows allows us to quickly inspect the stored data.  
- This ensures that the database table matches our cleaned dataset.

---

## ✅ Summary

- Loaded the cleaned cryptocurrency dataset from CSV.  
- Established a connection to the MySQL database `crypto_data_db`.  
- Created the table `crypto_history` and stored all historical cryptocurrency records.  
- Verified the stored data by fetching a sample.  
- Dataset is now fully available for **Power BI visualizations, SQL queries, or further analytics**.